@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Josefin+Slab:700|Lato:300,400,700|Raleway:400,600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  background-image: url("../img/background-header.jpg");
  background-color: #0c6fd5;
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

.header-text {
  padding-left: 13%;
  padding-top: 265px;
  padding-bottom: 265px;
}

.header-text h1 {
  padding-bottom: 10px;
  font-size: 90px;
  line-height: 55px;
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
}

.header-text p {
  margin-bottom: 45px;
  font-size: 45px;
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
}

.header-text a {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 18px 40px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  background-color: #0e82f9;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13%;
}

nav .menu li {
  display: block;
  margin: 25px 7px;
  padding: 0 15px;
}

nav .menu li a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

nav .menu li a:hover {
  border-bottom: 1px solid #ffffff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .title {
  margin-top: 150px;
  margin-bottom: 100px;
}

main .title h1 {
  font-family: Raleway;
  font-size: 45px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #232323;
}

main #education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'Lato';
  padding-bottom: 150px;
}

main #education .education-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 670px;
  margin-bottom: 150px;
}

main #education .education-container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  height: 569px;
  background-color: #e2e2e2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #education .education-container .education-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
}

main #education .education-container .education-text .text {
  border: 1px solid #ececec;
  padding: 50px 50px 70px 50px;
  position: relative;
  height: 260px;
}

main #education .education-container .education-text .text:nth-child(2) {
  margin: 30px 0;
  text-align: right;
}

main #education .education-container .education-text .text h2 {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
}

main #education .education-container .education-text .text span {
  color: #515151;
  font-size: 16px;
}

main #education .education-container .education-text .text p {
  font-size: 14px;
  color: #919191;
  margin-top: 30px;
}

main #education .education-container .education-text .one:before {
  content: '2011 - 2012';
  position: absolute;
  top: 30%;
  left: -20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #0e82f9;
  width: 257px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 20px;
}

main #skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato';
  background-color: #f8f9fb;
}

main #skills .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main #skills .skill-container .skills {
  background-color: #0e82f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 95px 50px;
  height: 450px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
}

main #skills .skill-container .skills h2 {
  font-size: 26px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

main #skills .skill-container .skills h2 i {
  margin-right: 15px;
  font-size: 26px;
  line-height: 24px;
}

main #skills .skill-container .skills .skill {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 14px;
}

main #skills .skill-container .skills .skill .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #skills .skill-container .skills .skill .skill-item span {
  margin-bottom: 15px;
}

main #skills .skill-container .skills .skill .skill-item .load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #skills .skill-container .skills .skill .skill-item p {
  width: 240px;
  height: 6px;
  background-color: #414042;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #skills .skill-container .skills .skill .skill-item p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 50%;
  height: 6px;
}

main #skills .skill-container .skills .skill .skill-item p i {
  width: 12px;
  background-color: #ffffff;
  height: 12px;
  margin-left: 14%;
  border-radius: 50%;
  position: relative;
}

main #skills .skill-container .skills .skill .skill-item p i:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  border: 1px solid #ffffff;
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 50%;
}

main #skills .skill-container .skills .skill .skill-item .html p:before {
  width: 90%;
}

main #skills .skill-container .skills .skill .skill-item .html i {
  margin-left: 89%;
}

main #skills .skill-container .skills .skill .skill-item .css p:before {
  width: 80%;
}

main #skills .skill-container .skills .skill .skill-item .css i {
  margin-left: 79%;
}

main #skills .skill-container .skills .skill .skill-item .js p:before {
  width: 40%;
}

main #skills .skill-container .skills .skill .skill-item .js i {
  margin-left: 39%;
}

main #skills .skill-container .skills .skill .skill-item .react p:before {
  width: 25%;
}

main #skills .skill-container .skills .skill .skill-item .react i {
  margin-left: 24%;
}

main #skills .skill-container .skills .skill .skill-item .angular p:before {
  width: 15%;
}

main #skills .skill-container .skills .skill .skill-item .vue p:before {
  width: 15%;
}

main #skills .skill-container .lang-skill .lang {
  background-color: #e9e9e9;
  width: 260px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #skills .skill-container .lang-skill .lang:nth-child(2) {
  margin: 10px 0;
}

main #skills .skill-container .lang-skill .lang h2 {
  color: #4a4a4a;
  font-size: 26px;
  line-height: 24px;
}

main #skills .skill-container .lang-skill .lang i {
  color: #0e82f9;
}

main #portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

main #portfolio .works {
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "item1 item1" "item2 item3" "item4 item5";
}

main #portfolio .works .work-item a {
  background-position: top;
  background-size: cover;
  cursor: pointer;
  display: block;
  -webkit-transition: ease-in-out 8s;
  transition: ease-in-out 8s;
  -webkit-box-shadow: 1px 1px 18px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 18px 2px rgba(0, 0, 0, 0.75);
}

main #portfolio .works .work-item a:hover {
  background-position: bottom;
}

main #portfolio .works .item1 {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item1;
}

main #portfolio .works .item1 a {
  background-image: url("../img/portfolio/golden.png");
  max-width: 100%;
  height: 500px;
}

main #portfolio .works .item2 {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item2;
}

main #portfolio .works .item2 a {
  background-image: url("../img/portfolio/mycompany.png");
  width: 500px;
  height: 600px;
}

main #portfolio .works .item3 {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item3;
}

main #portfolio .works .item3 a {
  background-image: url("../img/portfolio/lemon.png");
  width: 500px;
  height: 600px;
}

main #portfolio .works .item4 {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 3;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item4;
}

main #portfolio .works .item4 a {
  background-image: url("../img/portfolio/waxom.png");
  width: 500px;
  height: 600px;
}

main #portfolio .works .item5 {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 3;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: item5;
}

main #portfolio .works .item5 a {
  background-image: url("../img/portfolio/landx.png");
  width: 500px;
  height: 600px;
}

main #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f8f9fb;
}

main #contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
  width: 100%;
  padding: 0 50px;
}

main #contact .contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

main #contact .contact .contact-form {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #contact .contact .contact-form h2 {
  color: #4a4a4a;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 45px;
}

main #contact .contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main #contact .contact .contact-form form input {
  padding: 25px 15px;
  font-family: 'Lato';
  font-size: 15px;
  color: #aaaaaa;
  width: 570px;
  line-height: 24px;
  margin-bottom: 20px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

main #contact .contact .contact-form form input:focus,
main #contact .contact .contact-form form textarea:focus {
  outline: none;
}

main #contact .contact .contact-form form textarea {
  padding: 25px 15px;
  font-family: 'Lato';
  font-size: 15px;
  color: #aaaaaa;
  max-width: 570px;
  line-height: 24px;
  margin-bottom: 20px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  resize: none;
}

main #contact .contact .contact-form form input[type='submit'] {
  background-color: #0e82f9;
  font-size: 24px;
  line-height: 24px;
  border: none;
  padding: 20px 45px;
  width: 140px;
  color: #ffffff;
  cursor: pointer;
}

main #contact .contact .contact-adress {
  max-width: 500px;
  color: #4a4a4a;
}

main #contact .contact .contact-adress h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 65px;
}

main #contact .contact .contact-adress .addres-list i {
  margin-right: 25px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  font-size: 24px;
}

main #contact .contact .contact-adress .addres-list li {
  line-height: 24px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #contact .contact .contact-adress .map {
  margin-top: 20px;
}

footer {
  background-color: #26272f;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Lato';
}

footer .footer-text {
  display: block;
}

footer .footer-text h2 {
  font-weight: 300;
  font-size: 30px;
  padding-top: 77px;
  padding-bottom: 15px;
}

footer .footer-text p {
  padding-bottom: 38px;
  color: #8b8c90;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a {
  margin: 0 8px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
}

footer .social .facebook {
  background-color: #3b5998;
  padding: 10px 15px;
}

footer .social .twitter {
  background-color: #1da1f2;
}

footer .social .vk {
  background-color: #597da3;
}

footer .social .github {
  background-color: #000000;
}

footer .rights {
  padding: 30px 0;
  line-height: 24px;
}

footer hr {
  width: 70%;
}
/*# sourceMappingURL=style.css.map */