@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Josefin+Slab:300,400,700|Lato:300,400,700|Raleway:400,600,700')
*
    box-sizing: border-box
    margin: 0
    padding: 0
    list-style: none
header
    background-image: url('../img/background-header.jpg')
    background-color: #0c6fd5
    background-blend-mode: screen
    background-size: cover
    background-repeat: no-repeat
    color: #fff
    position: relative
.header-text
    padding-left: 13%
    padding-top: 265px
    padding-bottom: 265px
    h1
        padding-bottom: 10px
        font-size: 90px
        line-height: 55px
        font-family: 'Josefin Slab', serif;
        font-weight: 300
    p
        margin-bottom: 45px
        font-size: 45px
        font-family: 'Josefin Slab', serif
        font-weight: 300
    a
        font-size: 18px
        border: 1px solid #ffffff
        border-radius: 20px
        padding: 18px 40px
        color: #ffffff
        cursor: pointer
        text-decoration: none
        text-transform: uppercase
nav
    background-color: #0e82f9
    width: 100%
    position: sticky
    top: 0
    .menu
        display: flex
        padding-left: 13%
        li
            display: block
            margin: 25px 7px
            padding: 0 15px
            a
                text-decoration: none
                color: #ffffff
                padding-bottom: 15px
                font-family: 'Raleway', sans-serif
                font-weight: 600
                &:hover
                    border-bottom: 1px solid #ffffff
#about
    height: 1200px
footer
    background-color: #26272f
    color: #ffffff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    .footer-text
        display: block
        h2
            font-weight: 300
            font-size: 30px
            padding-top: 77px
            padding-bottom: 15px
        p
            padding-bottom: 38px
    .social
        display: flex
        a
            margin: 0 4px
    .rights
        padding-bottom: 30px